<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> API Documentation</h1>
    <span class="subLinks">[ github: <a href="https://git.generalassemb.ly/GainorB/memedr">https://git.generalassemb.ly/GainorB/memedr</a> | [ api: <a href="https://memedr.herokuapp.com/">https://memedr.herokuapp.com/</a> ] | [ live: <a href="https://memedrapp.herokuapp.com/">https://memedrapp.herokuapp.com/</a> ]</span><br>
    Authentication is required to access this API.
    <br>

        <!-- GET ROUTES -->

    <h2>get all memes <small>returns all memes in api_cache table</small></h2>
    <div class="getDiv"><span class="larger"><span class="get">GET</span>https://memedr.herokuapp.com/<span class="get">getMemes</span></span></div>
    
    <h2>get all users with memes liked <small>returns all users and the meme they liked</small></h2>
    <div class="getDiv"><span class="larger"><span class="get">GET</span>https://memedr.herokuapp.com/<span class="get">users/withLikes</span></span></div>

    <h2>get all subtitles <small>returns all subtitles</small></h2>
    <div class="getDiv"><span class="larger"><span class="get">GET</span>https://memedr.herokuapp.com/<span class="get">getSubtitles</span></span></div>

    <h2>get all users with a match <small>returns all users that share a liked meme</small></h2>
    <div class="getDiv"><span class="larger"><span class="get">GET</span>https://memedr.herokuapp.com/<span class="get">users/profile/matches/{id}</span></span></div>
    <h5>success response</h5>
    <div class="successDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"status" : "Users that have the same likes as User #"<br> }</div>
    
        <!-- POST ROUTES -->

    <h2>how to like a meme <small>allows you to "like" a meme to a specific profile</small></h2>
    <div class="postDiv"><span class="larger"><span class="post">POST</span>https://memedr.herokuapp.com/<span class="post">users/profile/like/{id}</span></span></div>
    <h5>json format</h5>
    <div class="statusCodesDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"userid" : #,<br>&nbsp;&nbsp;&nbsp;&nbsp;"memeid" : #<br> }</div>
    <h5>success response</h5>
    <div class="successDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"status" : "Meme # successfully saved to user #'s profile"<br> }</div>

    <h2>how to submit a subtitle <small>inserts a subtitle into the subtitles table</small></h2>
    <div class="postDiv"><span class="larger"><span class="post">POST</span>https://memedr.herokuapp.com/<span class="post">new/subtitle</span></span></div>
    <h5>json format</h5>
    <div class="statusCodesDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"subtitle" : " "<br> }</div>
    <h5>success response</h5>
    <div class="successDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"status" : "Subtitle inserted"<br> }</div>

        <!-- PUT ROUTES -->

    <h2>how to update a user's profile <small>updates a users profile</small></h2>
    <div class="putDiv"><span class="larger"><span class="put">PUT</span>https://memedr.herokuapp.com/<span class="put">users/profile/update/{id}</span></span></div>
    <h5>json format</h5>
    <div class="statusCodesDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"id" : #,<br>&nbsp;&nbsp;&nbsp;&nbsp;"updatedUsername" : "",<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"updatedEmail" : " ",<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"updatedLocation" : " ",<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"updatedGender" : " ",<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"updatedImage" : " ",<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"updatedAge" : " "
    <br> }</div>
    <h5>success response</h5>
    <div class="successDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"status" : "User # successfully updated"<br> }</div>

    <h2>how to remove a liked meme from a profile <small>removes a specified meme from a users profile</small></h2>
    <div class="putDiv"><span class="larger"><span class="put">PUT</span>https://memedr.herokuapp.com/<span class="put">users/profile/unlike/{id}</span></span></div>
    <h5>json format</h5>
    <div class="statusCodesDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"userid" : #,<br>&nbsp;&nbsp;&nbsp;&nbsp;"memeid" : #<br> }</div>
    <h5>success response</h5>
    <div class="successDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"status" : "Meme removed from User #'s profile"<br> }</div>

        <!-- DELETE ROUTES -->

    <h2>how to delete a meme <small>removes a meme from the api_cache table</small></h2>
    <div class="deleteDiv"><span class="larger"><span class="delete">DELETE</span>https://memedr.herokuapp.com/<span class="delete">meme/{id}</span></span></div>
    <h5>json format</h5>
    <div class="statusCodesDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"id" : #<br> }</div>
    <h5>success response</h5>
    <div class="successDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"status" : "Meme # Deleted"<br> }</div>
    
    <h2>how to delete a user <small>removes a user from the users table</small></h2>
    <div class="deleteDiv"><span class="larger"><span class="delete">DELETE</span>https://memedr.herokuapp.com/<span class="delete">users/profile/delete/{id}</span></span></div>
    <h5>json format</h5>
    <div class="statusCodesDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"id" : #<br> }</div>
    <h5>success response</h5>
    <div class="successDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"status" : "User # successfully deleted"<br> }</div>

    <h2>how to delete a user's match <small>removes a user's match</small></h2>
    <div class="deleteDiv"><span class="larger"><span class="delete">DELETE</span>https://memedr.herokuapp.com/<span class="delete">users/profile/delete/match/{id}</span></span></div>
    <h5>json format</h5>
    <div class="statusCodesDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"id" : #,<br>&nbsp;&nbsp;&nbsp;&nbsp;"username" : #<br> }</div>
    <h5>success response</h5>
    <div class="successDiv">{ <br>&nbsp;&nbsp;&nbsp;&nbsp;"status" : "Username successfully deleted from User #'s matches."<br> }</div>
    
        <!-- STATUS CODES ROUTES -->

    <h2>status codes</h2>
    <div class="statusCodesDiv"><p><span class="statustext">200 OK:</span> The request has completed successfully.</p>
         <p><span class="statustext">201 Created:</span> The request has been fulfilled, resulting in the creation of a new resource.</p>
         <p><span class="error">400 Bad Request:</span> Invalid submission.</p>
         <p><span class="error">401 Unauthorized:</span> The user is not authorized.</p>
         <p><span class="error">404 Page Not Found:</span> The requested page doesn't exist.</p>
         <p><span class="error">500 Internal Server Error:</span> Internal server exception. The request didn't succeed.</p></div>
  </body>
</html>