body {
  padding: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
}

div {
  border: 1px black solid;
  padding: 10px;
  margin-top: 10px;
}

.successDiv {
  background-color: #e7fdf2;
  border: 1px solid #cde0d7;
}

.getDiv {
  background-color: #fbf1e6;
  border: 1px solid #ffddb8;
}

.get {
  color: green;
}

.create {
  color: blue;
}

.delete {
  color: red;
}

.createDiv {
  background-color: #e7edfd;
  border: 1px solid #cdd2e0;
}

.larger {
  font-size: 20px;
}

h1 {
  margin-bottom: 5px;
  font-size: 50px;
}

.subLinks {
  font-size: 13px;
  margin-bottom: 15px;
  display: inline-block;
}

a:link,
a:visited,
a:active
 {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: red;
}

small {
  font-size: 13px;
}

.statusDiv {
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
}

.errorDiv {
  background-color: #fbe7e7;
  border: 1px solid #ffc5c5;
}

.error {
  color: red;
}