body {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin: 30px;
}

h1 {
  margin-bottom: 5px;
  font-size: 50px;
}

.subLinks {
  font-size: 13px;
  margin-bottom: 15px;
  display: inline-block;
}

a:link,
a:visited,
a:active
 {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: red;
}

div {
  border: 1px black solid;
  padding: 15px 5px;
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
}

div:hover {
  border: 1px solid #999999;
}

/*
* DIV'S
*/

/* BLUE */
.getDiv {
  background-color: #e7edfd;
  border: 1px solid #cdd2e0;
}

/* ORANGE */
.putDiv {
  background-color: #fbf1e6;
  border: 1px solid #ffddb8;
}

/* GREEN */
.postDiv {
  background-color: #e7fdf2;
  border: 1px solid #cde0d7;
}

/* GREEN */
.successDiv {
  background-color: #e7fdf2;
  border: 1px solid #cde0d7;
}

/* RED */
.deleteDiv {
  background-color: #fbe7e7;
  border: 1px solid #ffc5c5;
}

.statusCodesDiv {
  background-color: #f8f8f8;
  border: 1px solid #e8e8e8;
}

/*
* WORDS
*/

.get {
  color: white;
  background-color: #2878c9;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 3px;
}

.post {
  color: white;
  background-color: #4cca5b;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 3px;
}

.delete {
  color: white;
  background-color: #e73737;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 3px;
}

.put {
  color: white;
  background-color: #e0ac3d;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 3px;
}

.get:hover,
.post:hover,
.delete:hover,
.put:hover {
  text-decoration: underline;
  cursor: pointer;
}

.error {
  color: red;
}

.larger {
  font-size: 20px;
}

.statustext {
  color: green;
}