* {
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: #fedc3d;

}
ul{
    list-style: none;
}
p {
    font-size: 15px;
}

.centerText {
    text-align: center;
}

/*NAV BUTTONS*/
.navButtons {
    margin-top: 0px;
    margin-bottom: 15px;
    display:flex;
    align-self:center;
    width: 200px;
}

/* TITLE */
.title {
    -webkit-text-stroke: 2px black;
    margin-top: -5px;
    margin-bottom: -5px;
    font-family: impact, Charcoal, sans-serif;
    color:white;
    user-select: none;
    cursor: default;
    font-size: 100px;
}

.App-header {
    text-align: center;
    height: 150px;
    padding: 20px;
    color: black;
}

.tempBorder {
    /*border: 1px solid black;*/
    height: 450px;
    overflow-y: scroll;
}

.bigBorder {
   /* border: 5px solid black;*/
    text-align: left;
/*    background-color: #ff3b3f;
*/  background-color: #01abaa;
    height: 475px;
    padding: 15px;
    color: #071013;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0, .2);
    margin-bottom:25px;
    max-width: 1000px;
    transition: 1S;
    margin-top: 10px;
}


.imgBorder {
    border: 3px dashed black;
    width: 150px;
    height: 150px;
}

/* MAIN PAGE */
.memeImage {
    max-width: 400px;
    max-height: 400px;
    border:solid black 2px;
}

.memeName {
    font-size: 25px;
}

.memeDiv {
    /*border:solid red 1px;*/
    display:block;
    /*flex-direction: column;*/
    align-content:center;
    margin: 0 auto;
    max-width: 420px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.8);
    padding:5px;
    padding-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

.memeName {
    /*padding-top: 5px;*/
    font-weight:300;
}

.likeUnlikeDiv {
    display: block;
    width:60px;
    margin: 0 auto;
    margin-bottom: 30px;
    align-content: center;
    padding-top: 20px;
}

/* PROFILE PAGE*/

.hideMemeDiv {
    display: none;
}
.profileContainer {
    display:flex;
    line-height: 15px;
    height:390px;
    max-width:600px;
    margin-top: 1%;
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    padding:2%;
    color: #ffffff;
    margin-bottom: 0;
    transition: 1S;
}
#profileImageDiv {
    width:300px;
    margin:0;
    margin-right:30px;
    margin-left: 10px;
}

#profileInfoDiv {
    display:column;
    margin-top: 8%;
    margin:0;
    font-size: 20px;
    width:225px;
    font-weight:300;
}
#profileInfoDiv p {
    width:225;
}
#profileInfoDiv input, select {
    display:flex;
    background-color: rgba(0,0,0,.2);
    text-align:left;
    min-width:10px;
    color:#01abaa;  
    border:none;
    margin-top: 10px;
    padding-left: 5px;
}
.updateDeleteDiv {
    display:flex;
    position:relative;
    width: 350px;
    margin:0;
    padding:0;
    left:-355px;
    top:-50px;
    transition:.1s;
}
#updateDeleteButtons button {
    margin-top: 15px;
    width:150px;
    margin-left:15px;
}

.profileImage {
    max-width: 300px;
    max-height: 300px;
    border: 2px dashed black;
}

.profileImage:hover{
    border: 2px dashed white;
}

/* MATCHES PAGE */
/* PROFILE IMAGE ON MATCHES PAGE */
.profileImageMatches {
    max-width: 300px;
    height: 200px;
    border: 2px dashed black;
}

.profileImageMatches:hover {
    border: 2px dashed red;
}

/* ABOUT */

.homeButton {
    /*margin-top: 13px;*/
}

#aboutMemedrDiv {
    line-height: 15px;
    height:360px;
    max-width:800px;
    margin-top: 3%;
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    padding:5%;
    color: #ffffff;
    margin-bottom: 0;
}
#aboutMemedrDiv h3 {
    font-size:40px;
    /*margin-bottom:25px;*/
    margin:0;
    padding:0;
}

#aboutMemedrDiv p {
   margin:0;
   padding:0;
   font-size:19px;
}
#aboutMemedrDiv .title {
   font-size:40px;
   margin:0;
   padding:0;

}
#aboutText {
    min-height:100px;
    margin-top:50px;
}

#welcome{
    margin: 0;
    padding: 0;
    color: #01abaa;
}

/* LOG IN */
.logInContainer {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /*border:solid green 1px;*/
    margin: 0 auto;
    margin-top: 3%;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    padding:4%;
    margin-bottom: 0;
    height:360px;
    transition:.3s;
}
.logInContainer:hover{
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.5);
}
.logInContainer p {
    /*margin: 20px 0 15px 0;*/
    font-size: 25px;
}
#usernameInput {
    margin-top: 10%;
}
.logInContainer input {
    margin-bottom: 3%;
    height:50px;
    text-align: center;
    font-size: 20px;
}

.logInContainer button {
   /* margin-top: 10%;*/
}
.btn-sample {
    height: 50px;
    font-size:20px;
}

#signInError {
    color:red;
    opacity: .5;
    user-select:none;
    cursor:default;
    animation: fadein_out 1.5s 1;
}

.aboutMemedr {
    margin-top: 0;
    padding-top:0;
}


/*MATCHES PAGE*/
#matchesDiv{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    /*border:solid green 1px;*/
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    height:360px;
    transition:.3s;
}
#matchesDiv h1, h3{
    /*padding:3%;*/
    margin:0;
}
.profileImageMatches {
    max-width: 300px;
    max-height: 300px;
    
}

#matchUserName {
    color:white;
    margin:0;
    padding:3%;
    padding-top:13px;
    font-weight: 300;
}
#matchUserStats {
    color:#019B85;
    margin:0;
    padding-bottom:3%;
}
#matchesEmail {
    color: #019B85;
    font-weight: 300;
    font-size:20px;
    margin-top: 0;

}





/*SIGN UP*/
.signUpDiv {
    flex-direction:column;
    width:450px;
    margin-top:0;
    margin-bottom: 0;
    padding:10px 20px 0 20px;
    transition:.3s;
    height: 450px;
}
.signUpDiv input, select {
    display:flex;
    background-color: rgba(0,0,0,.2);
    text-align:left;
    color:#01abaa;  
    border:none;
    padding:0;
    width: 200px;
    line-height: 15px;
    padding-left: 5px;
}
.signUpDiv p {
    margin-bottom:10px;
}

input[type='checkbox'] {
  float: right;
  position: relative;
  width: 20px;
  right: 165px;
  bottom: 3px;
}


.createAccountButton {
   width:100%;
}
.infoDiv{
    margin:0;
}
#tos {
    display:block;
    width:10px;
    padding:0;
    margin:0;
}
#tosText{
    width:300px;
    margin:0;
    padding: 0;
}
.homeButtonInSignUp {
   /* margin-top:20%;*/
}




@keyframes fadein_out {
    0%      { opacity:.5; }
    50%     { opacity:.2; }
    100%    { opacity:.5; }
}
@media screen and (max-width: 625px) {
    #title {
        font-size: 75px;
    }
    .bigBorder {
        height:450px;
    }
    .signUpDiv {
        width:300px;
        transition:.3s;
    }
    /* PROFILE */

    .profileContainerSecondDiv {
        display:flex;
        flex-direction: column; 
        height:750px;
        margin-bottom: 25px;
        transition: 1S;
    }
    #profileImageDiv {
        width:300px;
        margin:5px; 
        margin-bottom: 15px;   
    }

    #profileInfoDiv {
        display:column;
        margin-top: 8%;
        margin:10px;
        font-size: 20px;
        width:225px;
    }
   
    .updateDeleteDiv {
        /*position:relative;*/
        width: 400px;
        margin:0;
        margin-top:65px;
        left:-5%;
        transition:.3s;
        
    }
    #updateDeleteButtons button {
        margin-left: 5px;
        margin-top: -20px;
        margin-bottom:25px;
        width:150px;
    }

    .profileContainerFirstDiv  {
        height: 850px;
        transition: 1S;
    }
    /* MAIN PAGE*/
    .memeImage {
        max-width: 320px;
        max-height: 400px;
        border:solid black 2px;
        transition:.3s;
    }
    .memeDiv {
        padding-top:10px;
    }
    .memeBorder {
        height:475px;
    }
    /* Matches */
    .matchesBorder {
        height:480px;
    }
}

