* {
    margin: 0 auto;
    padding: 0;
}
body{
    background-color: #68C5DB;
}

.App-header {
    text-align: center;
    height: 150px;
    padding: 20px;
    color: black;
}

.tempBorder {
    border: 1px solid black;
    height: 512px;
}

.bigBorder {
    border: 5px solid black;
    text-align: left;
    background-color: #0197F6;
    min-height: 500px;
}

.imgBorder {
    border: 3px dashed black;
    width: 150px;
    height: 150px;
}

.profileImage {
    max-width: 500px;
    max-height: 500px;
}